.card.card-small
  a(href='/card/#{_id}').card-link.js-show
    .card-content
      .card-main
        .name #{name}
        .address #{address} 
        .notes #{notes}
      .card-footer.group
        .city #{city}
